  <header class="st-navbar">
    <nav class="navbar navbar-default navbar-fixed-top clearfix">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sept-main-nav"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand" href="#"><img src="/images/logo-esp.png" alt="" class="img-responsive"></a> </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse main-nav" id="sept-main-nav">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#inicio">Inicio</a></li>
            <li><a href="<%= @on_main ? '#programa' : programa_path %>">El programa</a></li>
            <li><a href="<%= @on_main ? '#colmex' : sobre_path %>">El Colegio</a></li>
            <li><a href="<%= @on_main ? '#calendario' : calendario_path %>">Calendario</a></li>
            <li><a href="<%= admision_path %>">Admisión</a></li>
            <li><a href="<%= testimonial_path %>">Testimonial</a></li>
            <li><a href="<%= contacto_path %>">Contacto</a></li>
            <li><a href="<%= url_for(locale: params[:locale] == 'es' ? 'en' : 'es') %>">English</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
    </nav>
  </header>
