<%= render 'principal/header' %>

  <section class="pricing">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title st-center">
            <h3><%= t('.fecha') %></h3>
            <p><%= t('.calendario') %></p>
          </div>
          <table class="table table-striped table-bordered resaltado">
            <tbody>
<% @fechas.each do |f| %>
              <tr style="<%= f.fecha_i <= Date.current && f.fecha_f >= Date.current ? 'background-color: #7c334e; color: #fff;' : '' %>">
                <td style="text-align: center" class="verde">
								<% if f.fecha_f < Date.current %>
                  <i class="fa fa-check"></i>
								<% end %>
                </td>
                <td><%= I18n.locale == :es ? f.desc_es : f.desc_en %></td>
                <td class="<%= f.fecha_i <= Date.current && f.fecha_f >= Date.current ? '' : 'verde' %>"><%= "#{f.fecha_i != f.fecha_f && f.fecha_i <= Date.current && f.fecha_f >= Date.current ? '<strong>' : ''}#{f.fecha_i != f.fecha_f ? t('.inicial') : ''}#{l f.fecha_i, format: (f.fecha_i.year == Date.current.year ? :no_year_html : :with_year_html)}#{f.fecha_i != f.fecha_f ? t('.rango') + l(f.fecha_f, format: (f.fecha_i.year == Date.current.year ? :no_year_html : :with_year_html)) : ''}#{f.fecha_i != f.fecha_f && f.fecha_i <= Date.current && f.fecha_f >= Date.current ? '</strong>' : ''}".html_safe %></td>
              </tr>
<% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

<%= render 'principal/footer' %>
