<%= render 'principal/header' %>

  <section class="blog" id="descripcion">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="section-title st-center">
            <h3><%= t('.sobre') %></h3>
            <p><%= t('.programa') %></p>
<% if I18n.locale == :es %>
            <h4><%= t('.para').upcase %></h4>
<% end %>
          </div>
          <div class="blog-post">
            <h2 class="post-title"><a href="#"><%= t('.descripcion') %></a></h2>
            <div class="post-content">
              <p>
								<%= t('.desc_html') %>
								<a href="#" id="materias"></a>
              </p>
            </div>
          </div>
          <div class="blog-post">
            <h2 class="post-title"><a href="#"><%= t('.cursos') %></a></h2>
<% if I18n.locale == :es %>
            <p><%= t('.cursos_desc', year: Date.current.year) %></p>
<% end %>
            <div class="post-content">
              <table class="table table-striped">
                <tbody>
<% @categorias.each do |c| %>
                  <tr>
                    <th colspan="2" style="text-align: center">
                      <h2><%= I18n.locale == :es ? c.categoria : c.categoria_en %></h2></th>
                  </tr>
<% @cursos.where(categoria: c.categoria).each do |s| %>
                  <tr>
                    <td><a href="<%= s.documento.url %>" target="_blank"><%= I18n.locale == :es ? s.tema : s.tema_en %></a></td>
                    <td>
<% @profs = s.profesor[1..-2].gsub("\",\"","----").gsub("\"","").split("----") %>
<% logger.debug s.profesor[1..-2] + " ::: " + s.profesor.class %>
<% @profs.each_with_index do |p,i| %>
											<%= @profs.size > 1 && i > 0 ? (i == @profs.size - 1 ? " y " : ", ") : '' %><a href="<%= Profesor.where("nombre = ?", p).first.sitio %>" target="_blank"><%= p %></a>
<% end %>
										</td>
                  </tr>
<% end %>
<% end %>
<% if false %>
                  <tr>
                    <td><a href="images/Introduction-to-the-Dictionary-of-Mexican-Spanish.pdf" target="_blank">Introduction to the <em>Dictionary of Mexican Spanish</em></a></td>
                    <td><a href="http://cell.colmex.mx/index.php/alfonso-medina" target="_blank">Alfonso Medina Urrea</a></td>
                  </tr>
                  <tr>
                    <td><a href="images/Thousand_One_Faces_Politics_Language_Mexico.pdf" target="_blank">The Thousand and One Faces of the Politics of Language in Mexico</a></td>
                    <td><a href="https://cell.colmex.mx/index.php/rebeca-barriga" target="_blank">Rebeca Barriga</a></td>
                  </tr>
                  <tr>
                    <th colspan="2" style="text-align: center">
                      <h2>Medio Ambiente y Urbanización</h2></th>
                  </tr>
                  <tr>
                    <td><a href="images/The_21st_century_metropolis.pdf" target="_blank">The 21<sup>st</sup> Century Metropolis, Urbanization and Economic Development: Mexico and International Experiences</a></td>
                    <td><a href="http://cedua.colmex.mx/trejo_alejandra.html" target="_blank">Alejandra Trejo Nieto</a></td>
                  </tr>
                  <tr>
                    <td><a href="images/Environmental_policy_in_Mexico.pdf" target="_blank">Environmental Policy in Mexico</a></td>
                    <td><a href="https://cedua.colmex.mx/ugalde_vicente.html" target="_blank">Vicente Ugalde</a> y <a href="https://cedua.colmex.mx/lopez_carlos.html" target="_blank">Carlos Andrés López Morales</a></td>
                  </tr>
                  <tr>
                    <th colspan="2" style="text-align: center">
                      <h2>Historia</h2></th>
                  </tr>
                  <tr>
                    <td><a href="images/An_Overview_History_Mexico.pdf" target="_blank">An Overview of Mexican History 1517-2017</a></td>
                    <td><a href="http://ceh.colmex.mx/index.php/planta-docente" target="_blank">Anne Staples</a></td>
                  </tr>
                  <tr>
                    <td><a href="images/Economic_History_of_Mexico_1800-2000.pdf" target="_blank">Economic History of Mexico,1800-2000</a></td>
                    <td><a href="http://sandrakuntz.colmex.mx/" target="_blank">Sandra Kuntz Ficker</a></td>
                  </tr>
                  <tr>
                    <td><a href="images/Public_intellectuals_20th_Century.pdf" target="_blank">Public Intellectuals in the 20<sup>th</sup> Century: Politics, Literature and Ideology</a></td>
                    <td><a href="https://cei.colmex.mx/Pprofesores/R_Brena.html" target="_blank">Roberto Breña</a></td>
                  </tr>
                  <tr>
                    <td><a href="images/Drugs_and_Empires_in_Mexico.pdf" target="_blank">Drugs and Empires in Mexico: A Historical Perspective</a></td>
                    <td><a href="http://cide.academia.edu/FroylanEnciso" target="_blank">Froylán Enciso</a></td>
                  </tr>
                  <tr>
                    <th colspan="2" style="text-align: center">
                      <h2>Política</h2></th>
                  </tr>
                  <tr>
                    <td><a href="images/Latin_America_21st_century.pdf" target="_blank">Latin America in the 21<sup>st</sup> Century: From the Left Turn to the Return of the Right</a></td>
                    <td><a href="http://cei.colmex.mx/Pprofesores/JC_Olmeda.html" target="_blank">Juan Cruz Olmeda</a></td>
                  </tr>
                  <tr>
                    <td><a href="images/Understanding_China_LatinAmerica_Relationship.pdf" target="_blank">Understanding the China-Latin America Relationship</a></td>
                    <td><a href="https://ceaa.colmex.mx/12-planta-docente-y-de-investigacion/41-marisela-connelly" target="_blank">Marisela Connelly</a></td>
                  </tr>
                  <tr>
                    <th colspan="2" style="text-align: center">
                      <h2>Economy and Society</h2></th>
                  </tr>
                  <tr>
                    <td><a href="images/Social_Choice_Political_Economy.pdf" target="_blank">Social Choice and Political Economy with a Latin American Perspective</a></td>
                    <td><a href="https://cee.colmex.mx/david-cantala" target="_blank">David Cantalá</a></td>
                  </tr>
                  <tr>
                    <td><a href="images/Development_Inequality_Poverty.pdf" target="_blank">Development (D), Inequality (I) and Poverty (P). Towards a transdisciplinary unification of D, I and P concepts and measuring methods</a></td>
                    <td><a href="https://ces.colmex.mx/123" target="_blank">Julio Boltvinik</a></td>
                  </tr>
<% end %>
                </tbody>
              </table>	
							<a href="#" id="cultura"></a>
<% if I18n.locale == :es %>
              <p><strong><%= t('.nota_curso') %></strong></p>
<% end %>
            </div>
          </div>
          <div class="blog-post">
            <h2 class="post-title"><a href="#"><%= t('.cultura') %></a></h2>
            <%= t('.cultura_html') %>
          </div>
          <div class="blog-post">
            <h2 class="post-title"><a href="#"><%= t('.certificados') %></a></h2>
            <div class="post-content">
              <%= t('.cert_desc_html') %>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="widgets" style="position: fixed">
            <div class="widget">
              <h2 class="widget-title"><%= t('.contenidos') %></h2>
              <ul>
                <li><a href="#descripcion"><%= t('.descripcion') %></a></li>
                <li><a href="#materias"><%= t('.cursos') %></a></li>
                <li><a href="#cultura"><%= t('.cultura') %></a></li>
                <li><a href="#certificados"><%= t('.certificados') %></a></li>
                <!--li><a href="images/schedule-international-summer-program.pdf" target="_blank">Horarios de los cursos</a></li-->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<%= render 'principal/footer' %>
