<%= render 'principal/header' %>

  <section class="blog" id="descripcion">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="section-title st-center">
            <h3><%= t('.sobre') %></h3>
            <p><%= t('.programa') %></p>
<% if I18n.locale == :es %>
            <h4><%= t('.para').upcase %></h4>
<% end %>
          </div>
          <div class="blog-post">
            <h2 class="post-title"><a href="#"><%= t('.descripcion') %></a></h2>
            <div class="post-content">
              <p>
								<%= t('.desc_html') %>
								<a href="#" id="materias"></a>
              </p>
            </div>
          </div>
          <div class="blog-post">
            <h2 class="post-title"><a href="#"><%= t('.cursos') %></a></h2>
<% if I18n.locale == :es %>
            <p><%= t('.cursos_desc', year: Date.current.year) %></p>
<% end %>
            <div class="post-content">
              <table class="table table-striped">
                <tbody>
<% @categorias.each do |c| %>
                  <tr>
                    <th colspan="2" style="text-align: center">
                      <h2><%= I18n.locale == :es ? c.categoria : c.categoria_en %></h2></th>
                  </tr>
<% @cursos.where(categoria: c.categoria).each do |s| %>
                  <tr>
                    <td><a href="<%= s.documento.url %>" target="_blank"><%= I18n.locale == :es ? s.tema.html_safe : s.tema_en.html_safe %></a></td>
                    <td>
<% @profs = s.profesor[1..-2].split(",").map{|x| x.gsub(/ *?" *?/,"")} %>
<% @profs.each_with_index do |p,i| %>
											<%= @profs.size > 1 && i > 0 ? (i == @profs.size - 1 ? " y " : ", ") : '' %><a href="<%= Profesor.where(nombre: p).first.sitio %>" target="_blank"><%= p %></a>
<% end %>
										</td>
                  </tr>
<% end %>
<% end %>
                </tbody>
              </table>	
							<a href="#" id="cultura"></a>
<% if I18n.locale == :es %>
              <p><strong><%= t('.nota_curso') %></strong></p>
<% end %>
            </div>
          </div>
          <div class="blog-post">
            <h2 class="post-title"><a href="#"><%= t('.cultura') %></a></h2>
            <%= t('.cultura_html') %>
          </div>
          <div class="blog-post">
            <h2 class="post-title"><a href="#"><%= t('.certificados') %></a></h2>
            <div class="post-content">
              <%= t('.cert_desc_html') %>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="widgets" style="position: fixed">
            <div class="widget">
              <h2 class="widget-title"><%= t('.contenidos') %></h2>
              <ul>
                <li><a href="#descripcion"><%= t('.descripcion') %></a></li>
                <li><a href="#materias"><%= t('.cursos') %></a></li>
                <li><a href="#cultura"><%= t('.cultura') %></a></li>
                <li><a href="#certificados"><%= t('.certificados') %></a></li>
                <!--li><a href="images/schedule-international-summer-program.pdf" target="_blank">Horarios de los cursos</a></li-->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<%= render 'principal/footer' %>
