<%= render 'principal/header' %>

  <section class="about">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title st-center">
            <h3><%= t('.sobre') %></h3>
            <p><%= t('.colegio') %></p>
          </div>
					<%= t('.desc_html') %>
        </div>
      </div>
    </div>
  </section>

<%= render 'principal/footer' %>
